/* This is where we do the theme customizations. First, we load the base CSS file
 * from upstream (to minimize time fetching stylesheets). Fonts are managed seperately
 * at font.css file.
 */
@import url("./base.css");

/*
body {
  font-size: var(--font-2);
  margin-bottom: var(--spacing-4)
}
*/

.banner {
  position: absolute;
  top: -10px;
  left: var(--spacing-4);
}

header > p, header > p > a{
  color: var(--black)!important;
}

.container {
  margin: var(--spacing-3) auto;
}

.blurb {
  border: 2px dashed var(--border);
  border-radius: var(--radii-default);
  font-size: var(--font-2);
  padding: var(--spacing-4);
}

/* From slash-z-guide repo */
.snow, .color-snow {
  color: #f9fafc;
}

/* Copied from Hack Club's live website sources */
.footer-text {
  box-sizing: border-box;
  margin: 0;
  margin-top: 0px;
  min-width: 0;
  color: var(--muted);
  font-weight: medium;
  letter-spacing: 0.009em;
  line-height: 1.375;
  margin-top: 16px;
}

/* twemoji */
.twemoji {
  height: 1.125em
}

/* admonitions */
.admonition {
  color: var(--text);
  background: var(--sunken);
  border-radius: var(--radii-extra);
  box-shadow: none;
  overflow: hidden;
  box-sizing: border-box;
}

.admonition.info {
  border-left: 4px solid var(--primary);
}